<div class="main-container">

  <!-- HEADER -->
  <header class="header d-flex justify-content-between align-items-center p-4">
    <h4 class="logo">MyApp</h4>

    <div>
      <span class="me-3">Hello, {{username}}</span>

      <!-- Logout Button -->
      <button class=" logout-btn mt-3" (click)="openLogoutModal()">
        Logout
      </button>
      <!-- Bootstrap Modal -->
      @if (showLogoutModal) {
      <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content shadow-lg border-0 rounded-4">

            <!-- Header -->
            <div class="modal-header bg-success text-white rounded-top-4">
              <h5 class="modal-title">Confirm Logout</h5>
              <button type="button" class="btn-close btn-close-white" (click)="closeLogoutModal()"></button>
            </div>

            <!-- Body -->
            <div class="modal-body text-center">
              <i class="bi bi-box-arrow-right fs-1 text-success"></i>
              <p class="mt-3 mb-0">Are you sure you want to logout?</p>
            </div>

            <!-- Footer -->
            <div class="modal-footer justify-content-center border-0">
              <button class="btn btn-outline-secondary px-4" (click)="closeLogoutModal()">
                Cancel
              </button>
              <button class="px-4 btn btn-success" (click)="confirmLogout()">
                Yes, Logout
              </button>
            </div>

          </div>
        </div>
      </div>

      <!-- Backdrop OUTSIDE -->
      <div class="modal-backdrop fade show"></div>
      }
    </div>

  </header>
  <h1 class="welcome-text text-center p-5">Welcome to Home Page</h1>

  <!-- BODY -->
  <div class="container mt-5">
    <div class="card shadow-lg p-4">
      <div class="row align-items-center">

        <!-- LEFT SIDE - IMAGE -->
        <div class="col-md-5 text-center">
          <img src="https://i.pinimg.com/736x/0f/10/9e/0f109e9af8b540e940680e5adec9555d.jpg" alt="Profile Image"
            class="img-fluid rounded" />
        </div>

        <!-- RIGHT SIDE - CONTACT FORM -->
        <div class="col-md-7">
          <h3 class="mb-3">Contact Form</h3>

          <form (ngSubmit)="onSubmit()" #contactForm="ngForm">

            <!-- Name -->
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="formData.name" #name="ngModel"
                required />

              <small class="text-danger" *ngIf="name.invalid && name.touched">
                Name is required
              </small>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" #email="ngModel"
                (ngModelChange)="validateEmail()" pattern="^[^\s@]+@gmail\.com$" required
                (keydown)="blockSpaces($event)" />

              <small class="text-danger" *ngIf="email.errors?.['required'] && email.touched">
                Email is required
              </small>

              <small class="text-danger" *ngIf="!email.errors?.['required'] && emailSpaceError && email.touched">
                Email should not start or end with space
              </small>

              <small class="text-danger"
                *ngIf="!email.errors?.['required'] && !emailSpaceError && email.errors?.['pattern'] && email.touched">
                Enter valid Gmail (no spaces, must end with @gmail.com)
              </small>

            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone" [(ngModel)]="formData.phone" #phone="ngModel"
                pattern="^[0-9]{10}$" required (keydown)="blockSpaces($event)" />

              <small class="text-danger" *ngIf="phone.errors?.['required'] && phone.touched">
                Phone number is required
              </small>

              <small class="text-danger" *ngIf="phone.errors?.['pattern'] && phone.touched">
                Enter 10-digit phone number (no spaces)
              </small>
            </div>

            <!-- Message -->
            <div class="mb-3">
              <label class="form-label">Message</label>
              <textarea class="form-control" rows="3" name="message" [(ngModel)]="formData.message" required></textarea>
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-primary w-100" [disabled]="contactForm.invalid"
              style="background-color: #1f8a5b;">
              Submit
            </button>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer text-center mt-5">
    <p>© 2026 MyApp | All Rights Reserved</p>
  </footer>

</div>